{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <section class="more_data post-feed">
        {% for feed in allFeeds %}
            {% if feed["group_access"] in membershipList %}
                <div class="individual-post-box">
                    <div class="post-component post-title">{{ feed["post_title"] }}</div>
                    <div class="post-component post-user">by: {{ feed["username"] }} @ {{ feed["time_posted"] }}</div>
                    <div class="post-component post-eventplace">Place: {{ feed["event_place"] }}</div>
                    <div class="post-component post-eventtime">Time: {{ feed["event_time"] }}</div>
                    <div class="post-component post-content">{{ feed["post_content"] }}</div>
                    <form class="index-upvote post-component" action="/likepost" method="get">
                        <input type="hidden" name="likepost" value="{{ feed['post_id'] }}">
                        <input id="post-likebtn" type="submit" value="Like">
                    </form>
                    <form class="index-upvote post-component" action="/mylikes" method="get">
                        <input type="hidden" name="mylikes" value="{{ feed['post_id'] }}">
                        <input style="background-color: #F1F6F5; border: 0px; padding: 0px; cursor: pointer;" type="submit" value="{{ feed['upvote_count'] }} Likes">
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock %}
